/* Google fonts style start */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* font-family: "Inter", sans-serif;
font-family: 'Miama', sans-serif; */
/* Google fonts style end */

/* common shared style start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #000;
}

.display-flex {
    display: flex;
}

.max-width {
    width: 80%;
    margin: 0 auto;
}

.logo-color {
    color: #E6533C;
}

.primary-color {
    color: #FFF;
}

.secondary-color {
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;

}

.card-title {
    font-size: 1.25rem;
    font-weight: 900;
}

.primary-btn {
    padding: 1rem 1.5rem;
    background-color: rgb(255, 84, 0);
    border-radius: 38px;
    border: 1px solid rgb(255, 84, 0);
    font-weight: 800;
    color: white;
    font-size: 1rem;
}

/* common shared style end */


/* header style start */
#header-section {
    background: rgb(36, 35, 35);
    background-color: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

/* header style end */


/* navbar style start */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
}

.nav-list-items {
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    height: 46px;
    padding-right: 20px;
    padding-left: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
}

ul {
    gap: 3rem;

}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.home {
    background-color: #E6533C;
    color: #FFF;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 46px;
}

.logo {
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.three-dot {
    display: none;
}

/* navbar media query */
@media screen and (max-width: 576px) {
    .navbar {
        width: 90%;
        margin: 0 auto;
    }

    h3 {
        font-size: 1.75rem;
    }

    .nav-list-items {
        display: none;
    }

    .three-dot {
        display: block;
    }

    .three-dot i {
        font-size: 26px;
        color: white;
    }

}

/* navbar style end */



/* banner section style start */
.banner-container {
    justify-content: space-between;
}

.banner-content h2 {
    font-size: 5rem;
    font-weight: 900;
    text-align: left;
    margin-top: 85px;
    color: white;
    margin-bottom: 28px;
}

.miama {
    font-family: Miama, sans-serif;
    font-size: 5rem;
    font-weight: 400;
}

.button {
    display: flex;
    gap: 14px;
    margin-top: 28px;
    margin-bottom: 76px;
}


.btn {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
}

.button-box {
    height: 90px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    backdrop-filter: blur(20px);

}

.para {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
    letter-spacing: 2px;
}

.banner-img {
    position: relative;
    width: 100%;
    height: 100%;
}

#badge-five {
    padding: 12px 20px;
    font-weight: 500;
    margin-left: 227px;
    margin-top: -450px;
    position: absolute;
    line-height: 1;

}

#badge-three {
    display: flex;
    padding: 18px 22px 10px;
    font-weight: 500;
    margin-left: -90px;
    margin-top: -170px;
    position: absolute;
    line-height: 1;
}

.circle {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    margin-top: 3px;
}

#five {
    font-size: 2.5rem;
    font-weight: 700;
}

#three {
    font-size: 1.6rem;
    font-weight: 700;
}

/* banner  media query start */

@media screen and (max-width: 576px) {

    .banner-container {
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }

    .banner-content h2 {
        font-size: 2.25rem;
        margin-top: 51px;
    }

    .miama {
        font-size: 2.25rem;
    }

    .banner-paragraph {
        font-size: 1rem;
        width: 274px;

    }

    .primary-btn {
        padding: 0.7rem 0.9rem;
    }

    .button {
        margin-bottom: 45px;
    }

    .button-box {
        /* height: 50px; */
        /* width: 83px; */
        width: 155px;
        height: 74px;

    }
   
    .circle {
        width: 30px;
        height: 30px;
    }

    #badge-five {
        /* margin-left: 180px;
        margin-top: -510px; */
        margin-left: 215px;
        margin-top: -580px;
    }

    #badge-three {
        margin-left: 30px;
        margin-top: -320px;
        /* width: 110px; */
    }

    #five {
        font-size: 1.75rem;
        font-weight: 700;
    }

    #three {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .banner-img-container {
        width: 80%;
    }

    .para {
        font-size: 0.5rem;
        letter-spacing: 0px;
    }

}

/* header section banner and navbar media query end */

/* banner section style end */



/* changes habits secion style start */
.change-habits {
    text-align: center;
    margin-top: 110px;
}

.change-habit-title {
    font-size: 3rem;
}

.change-habits p {
    margin-top: 14px;
    margin-bottom: 48px;
}

.habit-grides {
    justify-content: space-between;
    align-items: center;

}

.grid img {
    border-radius: 50%;
    border: 4px solid rgb(89, 87, 87);
}

.grid h4 {
    font-size: 1.125rem;
    margin-top: 30px;
    color: white;
}

.grid p {
    font-size: 0.875rem;
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.5);
}

/* change habits media query start */

@media screen and (max-width: 576px) {
    .habit-grides {
        display: flex;
        flex-direction: column;
    }

    .grid {
        margin: 13px auto;
    }

    .change-habit-title {
        font-size: 2rem;
    }

}

/* change habits media query end */

/* changes habits secion style end */




/* extra mile section style start */
.extra-mile {
    border-radius: 18px;
    backdrop-filter: blur(20px);
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.1);
}

.extra-mile-container {
    padding: 30px;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
}

.extra-mile-left h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.extra-mile-left p {
    margin-bottom: 34px;
}

.extra-mile-right img {
    width: 366px;
    height: 312px;
    /* width: 100%; */
    border-radius: 18px;
}

/* extra mile section media query start */

@media screen and (max-width: 576px) {
    .extra-mile-container {
        flex-direction: column;
        padding: 30px;
    }

    .extra-mile-left h1 {
        font-size: 2rem;
    }

    .primary-btn {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
    }

    .secondary-color {
        margin-bottom: 24px;
    }

    .extra-mile-right img {
        width: 100%;
    }

}

/* extra mile section media query end */
/* extra mile section style end */


/* bmi calculator section style start */
.bmi {
    justify-content: center;
    margin-top: 88px;
    margin-bottom: 88px;
}

.bmi-title {
    font-size: 3rem;
}

.bmi-calculator p {
    margin-top: 14px;
}

/* .chart-full-des {
    width: 100%;
    height: 100%;
    background: rgb(34, 34, 34);
    
} */
.chart-container {
    background-color: #222;
}

.chart-content {
    justify-content: space-around;
}

.chart-column-left h4 {
    margin-bottom: 52px;
    text-align: left;
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 52px;
}

table {
    border-collapse: collapse;
    width: 310px;
    height: 216px;
    width: 100%;
}

th,
td {
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.chart-column-right h4 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 14px;
    text-align: left;
    margin-top: 49px;
}

.chart-column-right p {
    margin-bottom: 34px;
    text-align: left;
}

.input-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

}

.input-box input,
select {
    color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    height: 52px;
}

.input-box button {
    margin-top: 15px;
    margin-bottom: 40px;
}


.activity-factor {
    grid-column: span 2;
}

/* bmi calculator media query start */
@media screen and (max-width: 576px) {
    .chart-content {
        flex-direction: column;
    }

    .chart-container {
        width: 100%;
        /* height: 555px; */
        background: rgb(34, 34, 34);
    }

    .input-box input,
    .input-box select {
        color: rgba(255, 255, 255, 0.6);
        border: none;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        width: 90%;

    }
}

/* bmi calculator media query end */

/* bmi calculator section style end */




/* meet our team section style start */
.meet-our-team h2 {
    margin-top: 88px;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.meet-our-team p {
    margin-top: 14px;
    text-align: center;
    margin-bottom: 58px;
}

.card-container {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;


}

.card-box img {
    border-radius: 18px;
    width: 100%;
    height: 280px;
    position: relative;
    margin: 0;
    padding: 0;
}

.card-content {
    position: absolute;
    margin-left: 17px;
    margin-top: -70px;

}


.card-content p {
    margin-top: 7px;
    text-align: left;
}

/* meet our section media query start */
@media screen and (max-width: 576px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*  meet our section media query end */
/* meet our team section style end */



/* footer section style start */
footer {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 66px;
}

.footer-section {
    justify-content: space-between;
    margin-top: 66px;
}

.footer-first h3 {
    margin-bottom: 20px;
    margin-top: 66px;
    font-size: 4.3rem;
}

.footer-second h2,
.footer-third h2 {
    font-size: 2rem;
    /* color: white; */
    margin-bottom: 39px;
    margin-top: 66px;
}

.footer-second p,
.footer-third p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.horizontal {
    margin-top: 79px;
    stroke-width: 2px;
    stroke: rgba(255, 255, 255, 0.10);
}

.copy-right {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 35px;
    padding-bottom: 35px;
}

/* footer media query start */
@media screen and (max-width: 576px) {
    footer {
        height: 100%;
    }

    .footer-section {
        flex-direction: column;
    }

    hr {
        margin-top: 72px;
    }

    .copy-right {
        padding-bottom: 40px;
    }
}

/* footer media qeury end */
/* footer section style end */